.container {
    margin-top: 100px;
    
    display: flex;
    margin-left: 40px;
    
    
}

.button {
    padding: 10px 20px;
    font-size: 16px;

    color:var(--color-filter);
    background-color:var(--backgrond-02);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #504f4f;
    color: black;
    transform: scale(1.1);
}