 
.cubocontener{
  /* color: var(--h3-color); */

  width: 200px;
  height: 200px;
  perspective: 800px;
  display: flex;
  margin: 170px auto;
  transition: transform 0.5s ease;
  
  
}
.cubocontener:hover{
 
  transform: scale(1.5);
}


.cubo {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 8s infinite linear;
}

.frente {
  
  position: absolute;
  width: 200px;
  height: 200px;
  /* color: var(--color-cubo); */
  color: var(--h3-color);
  font-size: 18px;
  text-align: center;
  line-height: 200px;
  background: transparent;
  opacity: 0.9;
  border: 2px solid;

  border-image-source: var(--border-cubo) 1;
  box-shadow: 0 0 100px var(--color-cubo);
}
.back {
  position: absolute;
  width: 200px;
  height: 200px;
  color: var(--h3-color);
  font-size: 18px;
  text-align: center;
  line-height: 200px;
  background: transparent;
  opacity: 0.9;
  border: 2px solid;
  border-image: var(--border-cubo) 1;
  box-shadow: 0 0 100px var(--color-cubo);
}
.left {
  position: absolute;
  width: 200px;
  height: 200px;
  /* color: var(--color-cubo); */
  color: var(--h3-color);
  font-size: 18px;
  text-align: center;
  line-height: 200px;
  background: transparent;
  opacity: 0.9;
  border: 2px solid;
  border-image: var(--border-cubo  1);
  box-shadow: 0 0 100px var(--color-cubo);
}
.right {
  position: absolute;
  width: 200px;
  height: 200px;
  /* color: var(--color-cubo); */
  color: var(--h3-color);
  font-size: 18px;
  text-align: center;
  line-height: 200px;
  background: transparent;
  opacity: 0.9;
  border: 2px solid;
  border-image: var(--border-cubo) 1;
  box-shadow: 0 0 100px var(--color-cubo);
}
.bottom {
  position: absolute;
  width: 200px;
  height: 200px;
  /* color: var(--color-cubo); */
  color: var(--h3-color);
  font-size: 18px;
  text-align: center;
  line-height: 200px;
  background: transparent;
  opacity: 0.9;
  border: 2px solid;
  border-image: var(--border-cubo) 1;
  box-shadow: 0 0 100px var(--color-cubo);
}
.top {
  position: absolute;
  width: 200px;
  height: 200px;
   /* color: var(--color-cubo); */
   color: var(--h3-color);
  font-size: 18px;
  text-align: center;
  line-height: 200px;
  background: transparent;
  opacity: 0.9;
  border: 2px solid;
  border-image: var(--border-cubo) 1;
  box-shadow: 0 0 100px var(--color-cubo);
}


.frente {
  transform: translateZ(100px);
}

.back {
  transform: rotateY(180deg) translateZ(100px);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.cubo:hover .cube {
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
