.scroll {
    overflow-y: auto; 
    
}

.snap {
    scroll-snap-type: y mandatory;
    
}

.card {
    margin-top: -50px;
    
    display: flex;
    flex-direction: column; 
}




.slide {
    
    
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
}

marquee {
    
    font-size: 2.6rem;
    width: 50%;
    text-align: center;
    margin: 100px 10;

}


.component {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap; 
    width: 100%;
    padding: 20px;
}

.flipCard {
    background-color: transparent;
    width: 100%;
    max-width: 300px; 
    height: 400px;
    perspective: 1000px;
    font-family: sans-serif;
}

@media (max-width: 768px) {
    .flipCard {
        max-width: 90%;
        height: auto; 
    }
}

@media (max-width: 480px) {
    .flipCard {
        max-width: 100%; 
        height: auto; 
    }
}