 
.loader {
    margin-bottom: 0%;
    margin-top: 20px;
  height: 2px;
  width: 100%;
  background: rgb(76, 75, 75);
  position: relative;
  overflow: hidden;
}
.loader .black .overlay {
  background: linear-gradient(
    100deg,
    rgb(245, 231, 231) 0%,
    rgba(212, 211, 211, 0.14) 30%,
    rgba(237, 221, 221, 0.14) 70%,
    rgb(189, 188, 188) 100%
  );
  position: absolute;
  inset: 0px;
}
.loader .light {
  width: 200px;
  height: 100%;
  position: absolute;
  left: -20%;
  top: 0px;
  background: linear-gradient(
    87deg,
    rgba(0, 0, 0, 0) 0%,
    rgb(246, 246, 247) 40%,
    rgb(173, 173, 173) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: light 8s infinite ease-in-out;
}

@keyframes light {
  from {
    left: -30%;
  }
  to {
    left: 100%;
    
  }
}
