
form {
    
width: 80%;
height: 90%;
gap:30px;
display: flex;
  flex-direction: column;
  align-items: center; 
  margin-left: 10px;
  padding: 30px; 
  background-color: transparent;
  border-radius: 8px; 
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.9);
  margin-bottom: 30px;
   
  
  
}
.formulario{
  transition: 0.10s ease-out;
  

}

.formulario :hover{
  transform: scale(1.05);

}

form h2{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}


button {
  width: 100%; 
  height: 45px; 
  margin-top: 20px; 
  border: none; 
  border-radius: 8px; 
  background-color: #1a2b36;
  color: #fff; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
}


button:hover {
  background-color: #2980b9; 
}




.inputContainer {
  position: relative;
  margin-bottom: 20px;
}

.label {
  margin-left: -320px;
  font-size: 1rem;
  padding: 20px;
  position: absolute;
  top: -37px;
  transition: 0.3s;
  pointer-events: none;
  color: #fff;
  
}






.input {
  margin-bottom: 10px;
  width: 290px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.inputmensagem{
  width: 290px;
  height: 110px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);

}

.input:focus {
  border: 2px solid transparent;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  
}
.inputmensagem :focus{
  border: 2px solid transparent;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
    

}

.input:valid  .label,
.input:focus  .label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translate(15px, -27px);
  letter-spacing: 5px;
  opacity: 0;
  


  
  
}

.input:valid,
.input:focus {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}



 