.header {
    position: fixed; 
    margin: 0;
    top: 0; 
    width: 100%; 
    height: 80px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px; 
    background-color: #777676;
    color: #10eef5;
    z-index: 1000; 
    box-shadow: 0 8px 8px rgba(53, 52, 52, 0.9);
    transition: transform 0.3s ease; 
}

.header.hidden {
    transform: translateY(-100%);
}




.logoContainer {
  margin: 0%;
  display: flex;
  align-items: center;
}



.siteName {
  font-family: Georgia, 'Times New Roman', Times, serif;
   color:#10eef5;
  text-decoration: none;
  font-size: 2.5rem;
  transition: transform 0.5s ease; 
}

.siteName:hover{
  transform: scale(1.4);
}

.navLinks {
 
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-right: 30px;
}



.navLinks a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: grid;
  font-size: 1.5rem;
  place-content: center;
  margin-right: 30px;
  position: relative;
  text-decoration: none;
  transition: transform 0.5s ease;  
}

.navLinks a:hover{
transform: scale(1.4);
 
}
.navLinks a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #10eef5;
  transform: scaleX(0);
  transition: all 0.5s ease;
  bottom: 0;
  left: 0;
}
.navLinks a:hover::before{
  transform: scaleX(1);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-top: 20px;
  color:#777676;
  margin-right: 10px;
}

.hamburger .line {
    
  width: 80px;
  height: 5px;
  background-color:#10eef5;
  margin: 5px 0px;
}


@media (max-width: 800px) {
  .navLinks {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    background-color:#434646;
    opacity: 0.5;
    top: 80px;
    right: 20px;
    padding: 20px;
    border-radius: 15px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border: 4px double;
  }

  .navLinks.open {
    align-items:self-end;
    height:auto;
    width: 20%;
    display: flex;
    gap: 10px;
    margin-top: 0;
    
  }

  .hamburger {
    display: flex;
    position:relative;
    margin-bottom: 15px;
    right: 50px;
    transform: translateX(0);
    z-index: 1001;
    
  }
  
}


@media (max-width: 500px) {
  .hamburger {
    display: flex;
    position: absolute;
    top: 0px;
    right: 60px;
    transform: translateX(0);
  }

  

  

  
}


  

  

  

