.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -60px;
    margin-bottom: 60px;
}

.pc {
    width: 20%;
    margin-left: 100px;
}
.text a{
    color: #f6f8f6;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}
.text a:hover{
    color: #04c7ce;
}

.aminent {
    flex: 1; 
}

.terminal {
    width: 30%;
    margin-right: 30px;
}

.proj01 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 40px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.proj01.visible {
    transform: translateY(0);
    opacity: 0.8;
}

.element {
    margin-top: 50px;
}

.text {
    margin-right: 150px;
}

.text li, .text p {
    font-size: 1.2rem;
    color: #10eef5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text h2, .text strong {
    font-size: 1.5rem;
    color: #d0cffc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


@media (max-width: 768px) {
    .titulo {
        margin-top: 10px;
        flex-direction: column; 
    }

    .aminent {
        display: none; 
    }
    .text{
      margin-left: 20px;
    }
    .element{
      width: 80%;
    }

    .pc {
        order: 1; 
    }

    .terminal {
        margin-top: 30px;
        order: 2; 
    }

    .proj01 {
        flex-direction: column; 
        margin-left: 0; 
        gap: 20px; 
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .aminent {
        display: none; 
    }

    .pc, .terminal {
        opacity: 1; 
    }
}

@media (max-width: 568px) {
    
    .text p {
        font-size: 1rem;
    }

    .text li {
        font-size: 0.9rem; 
    }

    .text {
        margin-left: 20px;
        margin-right: 10px;
    }

    .terminal {
        width: 80%; 
        margin: 0 20px; 
    }
    .pc{
      margin-left: -60px;
      margin-top: -50px;
    }
}

@media (max-width: 480px) {
    .titulo {
        padding: 15px; 
    }
    .terminal{
        width: 80%;
    }
    

    .text h2, .text strong {
        font-size: 1.2rem; 
    }
}