.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -60px;
    margin-bottom: 60px;
}

.pc {
    width: 20%;
    margin-left: 100px;
}

.aminent {
    flex: 1; /* Para ocupar o espaço restante em telas maiores */
}

.terminal {
    width: 30%;
    margin-right: 30px;
}

.proj01 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 40px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.proj01.visible {
    transform: translateY(0);
    opacity: 0.8;
}

.element {
    margin-top: 50px;
}

.text {
    margin-right: 150px;
}

.text li, .text p {
    font-size: 1.2rem;
    color: #10eef5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text h2, .text strong {
    font-size: 1.5rem;
    color: #d0cffc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Consultas de Mídia para Responsividade */
@media (max-width: 768px) {
    .titulo {
        margin-top: 10px;
        flex-direction: column; /* Muda a direção para coluna */
    }

    .aminent {
        display: none; /* Esconde o elemento aminent */
    }
    .text{
      margin-left: 20px;
    }
    .element{
      width: 80%;
    }

    .pc {
        order: 1; /* Garante que pc seja o primeiro */
    }

    .terminal {
        margin-top: 30px;
        order: 2; /* Garante que terminal seja o segundo */
    }

    .proj01 {
        flex-direction: column; /* Muda a direção para coluna em telas menores */
        margin-left: 0; /* Remove a margem à esquerda */
        gap: 20px; /* Ajusta o espaço entre os elementos */
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .aminent {
        display: none; /* Esconde o elemento aminent */
    }

    .pc, .terminal {
        opacity: 1; /* Mantém visíveis */
    }
}

@media (max-width: 568px) {
    
    .text p {
        font-size: 1rem; /* Reduz o tamanho do texto */
    }

    .text li {
        font-size: 0.9rem; /* Reduz o tamanho da lista */
    }

    .text {
        margin-left: 20px;
        margin-right: 0;
    }

    .terminal {
        width: 100%; /* Largura total em telas pequenas */
        margin: 0 20px; /* Remove margens */
    }
    .pc{
      margin-left: -60px;
      margin-top: -50px;
    }
}

@media (max-width: 480px) {
    .titulo {
        padding: 15px; /* Reduz o padding em telas pequenas */
    }
    

    .text h2, .text strong {
        font-size: 1.2rem; /* Tamanho do título menor */
    }
}