/* --aminacao-color:#10eef5; */

/* Tema Claro (Light Mode) */
:root {
    --background-gradient: #f2f3f4;
    /* --text-color: #eee8e8; */
    --heading-color: #161718;
    --h-color: #0b0707;
    --h3-color: #090909;
    --link-color: #0c0d0d;
    --marquee-color: #0e0303;
    --strong-color: #000;
    --paragraph-color: #19191a;
    --list-color: #0b0c0c;
    --aminacao-color: #0c0d0d;


       /*header*/

    --background--heeader: #adaaaa;


    /*CUBO B*/

    --color-cubo:rgb(19, 21, 21);
    --border-cubo: linear-gradient(to right, #151616, #535454, #171a29, #1c1d1c, #4f5750);

     /*cubo A*/

    --french-color: linear-gradient(to right,#19191b,#171313,#07106d, #062f41, #34392d);

    /*BOTÃO BAIXA CURRICULO*/


    --color-filter:#f4e4e4;
    --backgrond-02:#4a4646;

    /*foto perfil*/

    --foto-perfil:linear-gradient(180deg, rgb(77, 81, 81), #424242);

    /*progesso*/

    --background-barra:#ffff;
    --box-shondon1:rgba(7, 7, 7, 0.9);


    /*butongit*/
    --background-color:rgba(0, 0, 0, 0.4);
    --box-shondon:rgba(255, 255, 255, 0.04);

    /*formulario*/
    --background-color1:#1a2b36;
    --box-shondon2:rgba(0, 0, 0, 0.9);
    --color-button:#484747;
}

/* Tema Escuro (Dark Mode) */
.dark-mode {
    --background-gradient: #000	;
    --heading-color: #f7f3f3;
    --h-color: #faf9f8;
    --h3-color: #fafafa;
    --link-color: #FFFFFF;
    --marquee-color: antiquewhite;
    --strong-color: #fef7f7;
    --paragraph-color: #fcf8f7;
    --list-color: #fcf9f9;
    --aminacao-color:#FFFFff;


    /*header*/

    --background--heeader: #191919;
    

    /*CUBO B*/

    --color-cubo:rgb(239, 242, 243);
    --border-cubo: linear-gradient(to right, #edf0f0, #e9ecec, #bec6ec, #1c1d1c, #4f5750);
    
    /*cubo A*/

    --french-color: linear-gradient(to right,#0000ff,#ffffff,#ffffff, #ffffff, #ff0000);

    /*BOTÃO BAIXA CURRICULO*/


    --color-filter:#fff;
    --backgrond-02:#959898;

    /*foto perfil*/

    --foto-perfil:linear-gradient(180deg, rgba(242, 243, 243, 0.925), #f9fcfc);

    /*progesso*/

    --background-barra:rgba(236, 234, 234, 0.1);
    --box-shondon1:rgba(249, 246, 246, 0.9);

    /*butongit*/
    --background-color:rgba(192, 185, 185, 0.787);
    --box-shondon:rgba(245, 230, 230, 0.82);




    /*formulario*/
    --background-color1:#dadcde;
    --box-shondon2:rgba(93, 90, 80, 0.9);
    --color-button:#484747;


    


}

/* Aplicação das variáveis globais */
body {
    margin: 0;
    margin-top: 50px;
    background: var(--background-gradient);
    
    font-family: 'Orbitron', sans-serif;
    line-height: 1;
    margin-bottom: 20px;
}

h1, h4 {
    color: var(--heading-color);
}

h6,h2 {
    color: var(--h-color);
}
h3{
    color: var(--h3-color);
}



a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

marquee {
    color: var(--marquee-color);
}

strong {
    color: var(--strong-color);
}

p {
    color: var(--paragraph-color);
}

li {
    color: var(--list-color);
}


